@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --text: #262b33;
}

html.dark {
  --background: #262b33;
  --text: #f2f2f7;
}

@theme {
  /* Couleurs UI Kit */
  --color-simpson-yellow: #ffde00;
  --color-simpson-orange: #e95029;
  --color-simpson-blue: #315491;
  --color-simpson-lightblue: #0094d3;
  --color-simpson-dark: #262b33;
  --color-simpson-darklight: #2d3644;
  --color-simpson-light: #f4f2ee;
  --color-simpson-gray: #8e8e93;

  --color-background: var(--background);
  --color-text: var(--text);

  --font-main: var(--font-fredoka), sans-serif;

  --size-screen-content: calc(100vh - 100px);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility text-title {
  font-family: var(--font-main);
  font-size: 30px;
  font-weight: 600;
}

@utility text-subtitle {
  font-family: var(--font-main);
  font-size: 24px;
  font-weight: 500;
}

@utility text-medium {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
}

@utility text-body {
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
}
